/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

.hind-madurai-light {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-madurai-regular {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-madurai-medium {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-madurai-semibold {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-madurai-bold {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
    font-family: "Hind Madurai", sans-serif;
}