<div>

  <div class="justify-center flex mb-4">
    <selector [labels]="labelsLane" [(selected)]="selectedLane" />
    <selector [labels]="labelsDiff" [(selected)]="selectedDiff" class="ml-4" />
    <input
      type="text"
      placeholder="Search for a champion..."
      id="search"
      (keypress)="onSearchKeyPress($event)"
      class="bg-white rounded-full text-black placeholder:text-gray-400 p-2 px-4 ml-4 min-w-100"
    />
    <button type="button" (click)="onClearFiltersPress()" class="bg-white text-black p-2 px-4 ml-4 cursor-pointer rounded-full">Clear Filters</button>
  </div>
  <div class="flex flex-wrap gap-3 place-content-center">
    <!-- All Filters Combined -->
    @if (selectedDiff || selectedLane || currentSearch) {
      @for (champion of filteredChampions; track champion.id) {
        <app-champion-card [champion]="champion" />
      } @empty {
        <div class="text-white"><p>No results.</p></div>
      }
  }@else {
      <!-- Unfiltered List -->
      @for (champion of champions; track champion.id) {
        <app-champion-card [champion]="champion" />
      }
    }
  </div>
</div>
